---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Rudolf Halas"
  description="A product-oriented full-stack software engineer, engineering manager, consultant and entrepreneur."
>
  <main
    class="flex h-screen flex-col items-center justify-center overflow-hidden"
  >
    <div class="relative bg-accent p-32 text-white">
      <h1 class="text-5xl tracking-wide">Rudolf Halas</h1>

      <ul class="mt-4 mb-8 text-xs text-white/75">
        <li>full-stack software engineer</li>
        <li>engineering manager</li>
        <li>consultant</li>
        <li>entrepreneur</li>
      </ul>

      <img
        src="/logo.png"
        class="absolute bottom-0 left-0 h-16 w-16"
        alt="Rudolf Halas"
      />

      <p>
        Add me on
        <a
          href="https://www.linkedin.com/in/rudolf-halas"
          target="_blank"
          rel="noopener noreferrer"
          class="has-transition border-b border-white transition-colors duration-150 ease-in-out hover:border-black"
        >
          LinkedIn &#8599;
        </a>
      </p>
    </div>
  </main>
</Layout>
