---
export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta char-set="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="twitter:image" content="https://rudowastaken.com/twitter.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="Rudolf Halas" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://rudowastaken.com/twitter.png" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#0439D9" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="bg-light font-sans">
    <slot />
  </body>
</html>
